[core]
	excludesfile = /Users/oliver/.gitignore_global
	editor = /usr/local/bin/vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	co = checkout
	br = branch
	c = commit
	st = status
  stpm = stash push -m 
  stli = stash list
  stsho = "!sh -c \"git stash show -p stash@{$1}\" -"
  stpop = "!sh -c \"git stash pop stash@{$1}\" -"
  strm = "!sh -c \"git stash drop stash@{$1}\" -"
  cor = "!sh -c \"git checkout -b $1 origin/$1\" -"
[user]
	name = Oliver Scott
	email = oliverhbscott@gmail.com
[credential]
	helper = osxkeychain
[rerere]
  enabled = true
