git # Ignore everything
*

# But not these files...
!additional-dotfiles
!additional-dotfiles/**
!dotfiles
!dotfiles/*
!.Presets
!.Presets/*
!.bash_profile
!.gitconfig
!.gitignore
!.hammerspoon
!.hammerspoon/*
!.intellij_settings.jar
!.p10k.zsh
!.vimrc
!.zshrc
!.zshrc
!README.md
