[core]
	excludesfile = /Users/oliver/.gitignore_global
	editor = /usr/local/bin/vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
## LIST ALISES
  la = "!git config -l | grep alias | cut -c 7-"
## LOG ALIASES ONE COMMIT PER LINE
  # without any bells and whistles
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  # with files changed per commit
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  # with dates
  lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
  # with dates relative to today (e.g. 6 days ago, etc..)
  ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
  # log history of the provided file (arg required)
  fl = log -u
  # logging with graphs (courtesy of alex)
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all --date=local
  # log tags
  lt = git log --tags --simplify-by-decoration
## DIFF
  # diff cached
  dc = diff --cached
  # modified files in last commit
  dl = "!git ll -1"
  # compared to last commit
  dlc = diff --cached HEAD^
  # compare to specific commit
  diffr  = "!f() { git diff "$1"^.."$1"; }; f"
  ## STASH
  stpm = stash push -m 
  stli = stash list
  stsho = "!sh -c \"git stash show -p stash@{$1}\" -"
  stpop = "!sh -c \"git stash pop stash@{$1}\" -"
  strm = "!sh -c \"git stash drop stash@{$1}\" -"
## GREP
  # find file in codebse
  f = "!git ls-files | grep -i"
  # find string in codebase
  grep = grep -Ii
## MISC
  cp = cherry-pick
	co = checkout
  cod = checkout develop
  com = checkout master
	br = branch
	c = commit
	st = status
  ss = status -s
  cor = "!sh -c \"git checkout -b $1 origin/$1\" -"
  dif = diff
  dc = diff --cached
  fp = fetch -p
  pr = pull -r
  ignored = ls-files -o -i --exclude-standard
  sub = submodule
  set-upstream = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
  ltag = describe --tags --abbrev=0
  rd = rebase develop
[user]
	name = Oliver Scott
	email = oliverhbscott@gmail.com
[credential]
	helper = osxkeychain
[rerere]
  enabled = true
